* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  /* background-color: red; */
}
ul li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
button:hover {
  font-size: 100%;
  background-color: rgb(223, 223, 223);
}
/* --- header --- */
.header {
  background-color: rgb(223, 223, 223);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 15%;
  margin: 0 5%;
  margin-top: 0.5%;
}
.nav-links {
  display: flex;
  justify-content: end;
  gap: 20%;
  margin: 10% 10%;
}
.nav-links li a {
  text-decoration: none;
  color: black;
}
/* --- about section --- */
.Home {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80%;
}
.home-description {
  width: 50%;
  padding: 0 10%;
}
.Home-heading {
  font-size: 300%;
  margin-bottom: 5%;
}
.Home-text {
  text-align: justify;
  margin-bottom: 5%;
}
.Home-button {
  background-color: white;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 2px;
  height: 3.75rem;
  width: 12.5rem;
}
.Home-image {
  width: 50%;
}
.Home-img {
  height: 32.125rem;
  object-fit: cover;
}
/* --- about section --- */
.about {
  display: flex;
  flex-direction: column;
}
.about-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  position: relative;
}
.about-header-text {
  display: inline-block;
  margin: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  padding-left: 5rem;
}
.about-search {
  display: flex;
  align-items: center;
  width: 60%;
  background-color: rgb(232, 227, 227);
  border-radius: 2px;
  margin-right: 2rem;
}
.search {
  margin: 0;
  padding: 1rem;
  width: 90%;
  border: none;
  border-radius: 5px;
  background-color: rgb(232, 227, 227);
}
.fa-magnifying-glass {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.about-info {
  display: flex;
  width: 100%;
  height: 32.063rem;
}
.about-img {
  height: 32.063rem;
}
.about-text {
  margin: 2rem 6rem;
}
.about-us {
  font-size: 40px;
  font-weight: 700;
  color: rgb(57, 186, 57);
}
.about-para {
  line-height: 1.5;
  text-align: justify;
  margin: 1rem 0;
}
.learn-more {
  background-color: white;
  border: 1.5px solid black;
  width: 20%;
  height: 10%;
  margin-top: 5%;
}
/* ----- Our Project ----- */
.our-project {
  display: flex;
  flex-direction: row;
}
.our-project-left {
  width: 70%;
  padding: 3rem;
  position: relative;
}
.project-imag-1 {
  position: absolute;
  left: 3rem;
  width: 50%;
  height: 85%;
}
.project-imag-2 {
  position: absolute;
  right: 3rem;
  width: 20rem;
  height: 16rem;
}
.project-text {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  width: 20rem;
  text-align: justify;
}
.poject-heading {
  font-size: 40px;
  font-weight: 700;
  color: rgb(57, 186, 57);
}
.our-project-right {
  background-color: black;
  width: 30%;
  height: 37.1875rem;
  display: flex;
  flex-direction: column;
}
.cube-img {
  width: 35%;
  height: 25%;
  margin: 3rem 8rem;
}
.arrow-img {
  width: 60%;
  margin: 12rem 5rem 0.938rem;
}
/* ---- work ---- */
.work {
  display: flex;
  flex-direction: column;
  height: 37.1875rem;
}
.work-heading {
  height: 20%;
  padding: 1rem;
  position: relative;
}
.star-img {
  height: 5rem;
  width: 5rem;
  margin: 0 5rem;
}
.work-head {
  position: absolute;
  font-size: 40px;
  font-weight: 700;
  color: rgb(57, 186, 57);
  bottom: 1.5rem;
  left: 40%;
}
.cards {
  display: flex;
  flex-direction: row;
}
.card {
  margin: 3rem 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card-img {
  font-size: 100px;
}
.card-heading {
  margin: 1rem 0;
  font-size: 25px;
  font-weight: 800;
}
.card-text {
  text-align: justify;
}
/* ---- gallery section ---- */
.gallery {
  height: 37.1875rem;
  position: relative;
}
.galleryimg {
  position: absolute;
}
.img-1 {
  left: 0;
  top: 0;
  width: 40%;
  height: 60%;
}
.img-2 {
  top: 0;
  left: 41%;
  width: 33%;
  height: 60%;
}
.img-3 {
  top: 0;
  right: 0;
  width: 25%;
  height: 60%;
}
.img-4 {
  left: 0;
  bottom: 0;
  width: 30%;
  height: 38%;
}
.img-5 {
  bottom: 0;
  left: 31%;
  width: 40%;
  height: 38%;
}
.img-6 {
  bottom: 0;
  right: 0;
  width: 28%;
  height: 38%;
}
/* ---- Team Section ---- */
.team {
  display: flex;
  flex-direction: column;
  height: 37.1875rem;
}
.team-heading {
  height: 30%;
  background-color: black;
}
.team-head {
  font-size: 40px;
  font-weight: 700;
  color: rgb(57, 186, 57);
  position: relative;
  left: 30%;
  top: 40%;
}
.team-cards {
  height: 70%;
  display: flex;
  flex-direction: row;
  padding: 0 15%;
}
.team-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem 2.5rem;
}
.team-card-image {
  height: 65%;
}
.team-card-heading {
  font-size: 25px;
  font-weight: 800;
  margin: 0.5rem 0;
}
/* ---- updates section ---- */
.update {
  height: 37.1875rem;
}
.update-heading {
  height: 5rem;
}
.update-head {
  font-size: 40px;
  font-weight: 700;
  color: rgb(57, 186, 57);
  display: inline-block;
  margin: 1rem 2rem;
}
.update-cards {
  display: flex;
  flex-direction: row;
}
.update-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 30%;
}
.update-image {
  width: 90%;
}
.update-card-head {
  margin: 1rem 0;
  font-size: 35px;
}
.update-card-text {
  text-align: justify;
  width: 80%;
}
.update-card-button {
  width: 50%;
  padding: 5% 0;
  margin: 1.5rem 0;
  background-color: white;
}
/* ---- Questions Section ---- */
.questions {
  height: 37.1875rem;
  text-align: center;
}
.questions-heading {
  font-size: 40px;
  font-weight: 700;
  padding-top: 2rem;
  color: rgb(57, 186, 57);
}
.questions-text {
  width: 80%;
  margin: 1rem auto;
}
.questions-input {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
}
input {
  width: 50%;
  height: 2.5rem;
  margin: 1rem 0;
  background-color: rgb(232, 227, 227);
  border: none;
}
.name {
  margin-right: 5%;
}
textarea {
  width: 80%;
  height: 40%;
  background-color: rgb(232, 227, 227);
  border: none;
}
.Submit {
  margin: 1rem auto;
  height: 10%;
  background-color: white;
  width: 20%;
  font-size: 15px;
}
/* ---- contact section ---- */
.contact {
  height: 37.1875rem;
  overflow: hidden;
}
.contact-heading {
  position: relative;
  height: 7rem;
}
.contact-head {
  position: absolute;
  left: 0;
  font-size: 40px;
  font-weight: 700;
  color: rgb(57, 186, 57);
  margin: 0.5rem 3rem;
}
.contact-button {
  position: absolute;
  right: 0;
  width: 15%;
  height: 40%;
  margin: 2rem 3rem;
  background-color: white;
}
.contact-details {
  background-color: black;
  height: 30.1875rem;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.contact-cards {
  display: flex;
  flex-direction: row;
}
.contact-card {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.contact-image {
  width: 30%;
}
.contact-text {
  display: inline-block;
  margin: 1rem 0;
}
.contact-card-head-link {
  font-weight: 700;
  font-size: 20px;
  padding-left: 40px;
}
.contact-list {
  list-style: none;
}
.contact-list a {
  text-decoration: none;
  color: white;
}
.contact-card-head {
  font-weight: 700;
  font-size: 20px;
}
.address {
  margin-top: 5%;
  line-height: 1.5;
}
.mail {
  margin-top: 5%;
}
.number {
  margin-top: 5%;
}
hr {
  color: white;
  width: 100%;
  margin: 1rem 0;
}
.contact-sec {
  position: relative;
}
.contact-sec-1 {
  position: absolute;
  left: 0;
}
.contact-sec-2 {
  position: absolute;
  right: 0;
}
